body {
  background-color: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 80rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

fieldset {
  border: 0;
  background-color: #f2f2f2;
  padding: 1.5rem;
}

p {
  max-width: 55ch;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
}

input + button {
  margin-left: 1rem;
}

input:focus,
button:focus {
  outline: 0.125rem dashed black;
  outline-offset: 0.125rem;
}

.wrapper--searchForm__input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.wrapper--searchForm__input button {
  background-color: #3e1031;
  border: 0;
  color: white;
}

@media (hover: hover) {
  .wrapper--searchForm__input button:hover {
    background-color: #7c2062;
  }
}

@media screen and (max-width: 434px) {
  .wrapper--searchForm__input {
    flex-direction: column;
  }

  input + button {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 435px) {
  .wrapper--searchForm__input input {
    flex-grow: 4;
  }

  .wrapper--searchForm__input button {
    flex-grow: 1;
  }
}

input,
button {
  font-size: 1.25rem;
}

[data-hide="true"] {
  display: none;
}

.searchForm__suggestions {
  list-style: none;
}

.searchForm__suggestions li + li {
  margin-top: 0.5rem;
}

.searchForm__results__result-content,
.pagination__controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pagination__controls {
  align-items: center;
  justify-content: center;
}

.searchForm__results__result-content div + div {
  margin-left: 2rem;
}

button {
  cursor: pointer;
}

.pagination__controls .pagination__controls__ellipsis,
.pagination__controls [data-page] {
  display: none;
}

.pagination__controls:not([data-pagecount="2"]):not([data-pagecount="3"]):not([data-pagecount="4"]):not([data-pagecount="5"])
  [data-page="1"]:not([aria-expanded="true"]):not([data-proximity="1"]):not([data-proximity="-1"]):not([data-proximity="2"]):not([data-proximity="-2"])
  + .pagination__controls__ellipsis,
.pagination__controls:not([data-pagecount="2"]):not([data-pagecount="3"]):not([data-pagecount="4"]):not([data-pagecount="5"])
  .pagination__controls__button--penultimate:not([aria-expanded="true"]):not([data-proximity="1"]):not([data-proximity="-1"])
  + .pagination__controls__ellipsis,
.pagination__wrapper .pagination__controls [data-page][aria-expanded="true"],
.pagination__controls [data-page][data-page="1"],
.pagination__controls [data-page].pagination__controls__button--last {
  display: flex;
}

.pagination__controls [data-page][data-proximity="1"],
.pagination__controls [data-page][data-proximity="-1"],
.pagination__controls [data-page][data-proximity="2"],
.pagination__controls [data-page][data-proximity="-2"],
.pagination__controls [data-page][aria-expanded="true"] {
  display: flex;
}

.pagination__controls[data-pagecount="2"] .pagination__controls__button,
.pagination__controls[data-pagecount="3"] .pagination__controls__button,
.pagination__controls[data-pagecount="4"] .pagination__controls__button,
.pagination__controls[data-pagecount="5"] .pagination__controls__button {
  display: flex;
}

.pagination__controls[data-pagecount="2"] .pagination__controls__ellipsis,
.pagination__controls[data-pagecount="3"] .pagination__controls__ellipsis,
.pagination__controls[data-pagecount="4"] .pagination__controls__ellipsis,
.pagination__controls[data-pagecount="5"] .pagination__controls__ellipsis {
  display: none;
}

.pagination__controls[data-pagecount="2"] .pagination__controls__button,
.pagination__controls[data-pagecount="3"] .pagination__controls__button,
.pagination__controls[data-pagecount="4"] .pagination__controls__button,
.pagination__controls[data-pagecount="5"] .pagination__controls__button {
  display: flex;
}

.pagination__controls[data-pagecount="2"] .pagination__controls__ellipsis,
.pagination__controls[data-pagecount="3"] .pagination__controls__ellipsis,
.pagination__controls[data-pagecount="4"] .pagination__controls__ellipsis,
.pagination__controls[data-pagecount="5"] .pagination__controls__ellipsis {
  display: none;
}

button + button,
button + .pagination__controls__ellipsis,
.pagination__controls__ellipsis + button {
  margin-left: 1rem;
}
